body {
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  font-family: "Galada", cursive;
  background-image: url("images/output-onlinepngtools\ \(5\).png");
  margin-bottom: 200px;
}
p {
  position: center;
}
.container {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
  border-radius: 30px;
  padding: 20px;
  margin: 50px;

  display: block;
  border: groove 1em blueviolet;
  font-family: "Galada", cursive;
}
.date {
  color: purple;
  background-color: transparent;
  margin-left: 50px;
  list-style-position: inside;
}
.time {
  font: 56px;
  font-family: "Galada", cursive;
}
.button {
  color: white;
  background-color: #d19bfd;
  border-radius: 15px;
  text-align: center;
  width: 80px;
  height: 25px;
  border: 0.5px solid blueviolet;
}

.largeDisplay {
  color: purple;
  font-size: 40px;
  padding-left: 40px;
  margin-left: 0%;
  margin-top: 20%;
  margin-right: 0%;
  width: 100%;
}

.tempDisplay {
  width: 60%;
  display: block;
  font-size: xx-large;
  text-align: center;
  margin-top: 5%;
  color: purple;
  background-color: transparent;
  float: right;
}

#search-bar {
  width: 350px;
  display: block;
  margin: 0 auto;
  color: purple;
  background-color: transparent;
  float: right;
}
.searchbtn {
  color: white;
  background-color: #d19bfd;
  border-radius: 15px;
  text-align: center;
  width: 80px;
  height: 40px;
  margin-left: 5px;
  border: 0.5px solid blueviolet;
}
.form-control {
  margin-left: 150px;
  flex: auto;
}
.sun {
  list-style-position: inside;
  float: right;
  width: 200px;
}
.lastrow {
  border-top: 0.5px solid blueviolet;
  height: 100px;
}
.days,
.temp {
  color: purple;
  margin-left: 40px;
}
.weather {
  width: 60px;
  margin-left: 40px;
}
.art {
  list-style-position: inside;
  width: 70%;
  float: center right;
}
.rightCol {
  list-style-position: inside;
  width: 50%;
}
#currentLocation {
  width: fit-content;
  height: 40px;
}
